@import "tailwindcss";

.swiper {
    width: 100% !important;
    height: 450px !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    overflow: hidden;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px !important;
    border-radius: 50px !important;
    border: 1px solid rgb(137, 94, 15) !important;
    transition: 0.3s !important;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: black !important;
    color: white !important;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swiperCards .swiperCard {
    width: 250px !important;
    height: 100% !important;
}

.swiperCards {
    width: 100%;
    height: 400px !important;
}

.swiper-button-prev {
    position: absolute !important;
    top: 190px !important;
    left: 180px !important;
    z-index: 10 !important;
    background-color: rgb(38, 42, 42) !important;
    transform: rotate(180deg) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 25px 25px !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    transition: 0.3s;
    border: 5px solid orange !important;

}

.swiper-button-next {
    position: absolute !important;
    top: 190px !important;
    right: 180px !important;
    z-index: 10 !important;
    background-color: rgb(29, 32, 32) !important;
    display: flex !important;
    align-self: center !important;
    justify-content: center !important;
    padding: 25px 25px !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    transition: 0.3s !important;
    border: 5px solid orange !important;
    z-index: 2 !important;

}

.swiper-button-next:hover {
    background-color: rgb(200, 135, 15) !important;
    border: 5px solid black !important;
}

.swiper-button-next:hover .swiper-navigation-icon {
    fill: black !important;
}

.swiper-button-prev:hover {
    background-color: rgb(200, 135, 15) !important;
    border: 5px solid black !important;
}

.swiper-button-prev:hover .swiper-navigation-icon {
    fill: black !important;
}

.swiper-navigation-icon {
    fill: white !important;
    width: 30px !important;
    height: 30px !important;
}

.swiper-slide-next {
    height: 300px !important;
    align-self: center;
    transition: 0.5s !important;
    font-size: 22px !important;
}

.swiper-slide-next .banner-info {
    display: none !important;

}

.swiper-slide-prev .banner-overlay {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.swiper-slide-next .banner-overlay {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.swiper-slide-prev .banner-info {
    display: none !important;
}

.swiper-slide-prev {
    height: 300px !important;
    align-self: center !important;
    transition: 0.5s !important;

}

.swiper-pagination-bullet-active {
    background-color: orange !important;
}

.banner-text {
    align-self: self-end !important;

}

.button-play{
    transition: 0.3s !important;
}

.swiper-slide .button-play:hover .banner-overlay{
    -webkit-backdrop-filter: blur(10px) !important;
        backdrop-filter: blur(10px) !important;
}

.button-play:hover .banner-info{
    display: none !important;

}