@import "tailwindcss";

.swiper {
    width: 100%;
    height: 450px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px !important;
    border-radius: 50px !important;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 60%;
}

body {
    background-color: black !important;
    color: white !important;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swiperCards .swiperCard{
    width: 250px !important;
    height: 100% !important;
}

.swiperCards{
    width: 100%;
    height: 400px !important;
}